body {
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 300px;
}

.jumbotron {
    padding-top: 120px;
    background-color: #1abc9c;
    color: white;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: #2c3e50;
    color: white;
    border-radius: 0;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 18px;
}

#navbarcolor.colorme {
    color: white;
    font-size: 20px;
}

h1 {
    font-weight: bold;
}

.separatore {
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: white;
}

.separatore::before {
    left: 0;
}

.separatore::after {
    right: 0;
}

h2 {
    font-weight: bold;
    font-size: 40px;
}

#portfolio,#contact,#about,#section,#footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

#portfolio img {
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#about {
    background-color: #1abc9c;
    color: white;

}

#about h2 {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

#about p {
    font-size: 20px;
}

.color-black::before,
.color-black::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: black;
}

.button {
    padding-top: 20px;
}

.btn {
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 220px;
    font-size: 17px;
    color: white;
}

#footer {
    background-color: #2c3e50;
    color: white;
}
