body {
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 300px;
}

.jumbotron {
    background-color: #1abc9c;
    color: white;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: #2c3e50;
    color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 18px;
}

#navbarcolor.colorme {
    color: white;
    font-size: 20px;
}

h1 {
    font-weight: bold;
}

.line {
    padding-bottom: 20px;
}

.stella {
    position: relative;
    padding: 0 20px;
    font-size: 25px;
}

.stella:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 100px;
    margin-left: 20px;
}

.stella:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 50%;
    top: 50%;
    background-color: white;
    width: 100px;
    margin-right: 20px;
}
